* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
body .nav__slideBtn {
  position: fixed;
  font-size: 34px;
  top: 20px;
  right: 20px;
}
body nav {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  display: flex;
  z-index: 1000;
}
body nav .nav__bar {
  margin: 0 auto;
  height: 50px;
  width: 85%;
  min-width: 430px;
  max-width: 580px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}
body nav .nav__btn {
  margin: 0 10px;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 65px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
}
body nav .nav__addBtn {
  width: 50px;
  color: black;
  font-size: 1.5rem;
}
body nav .nav__addBtn::before {
  position: absolute;
  bottom: 3px;
  left: -80%;
  transform: translate(-50%, 0);
  content: "";
  border-bottom: 2px solid white;
  width: 80px;
  height: 4px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body nav .nav__addBtn:hover {
  letter-spacing: 2px;
}
body nav .nav__addBtn:hover::before {
  left: 50%;
}
body nav .active {
  letter-spacing: 2px;
  font-size: 24px;
  background-color: white;
  color: black;
  border-radius: 25px;
  border: solid black 1px;
  width: 155px;
  height: 45px;
  line-height: 45px;
}
body main {
  margin-top: 110px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body main.slideDown {
  margin-top: 310px;
}
body main .notes__wrapper {
  height: 100%;
  width: 95%;
  min-width: 570px;
  background-color: white;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
body main .notes__wrapper .note__display {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body main .notes__wrapper .note__display .note {
  margin: 5px 8px;
  padding: 5px 10px;
  max-width: 300px;
  min-width: 150px;
  max-height: 600px;
  min-height: 200px;
  list-style: none;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  transform-style: preserve-3d;
  position: relative;
  opacity: 0;
  transform: rotateY(0deg);
}
body main .notes__wrapper .note__display .note:nth-of-type(even) {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
body main .notes__wrapper .note__display .note:nth-of-type(odd) {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
body main .notes__wrapper .note__display .activateIt {
  transform-style: preserve-3d;
  opacity: 1;
  transform: rotateY(360deg);
  transition: all 0.3s;
}
body main .notes__wrapper .note__display .activated {
  opacity: 1;
}
body main .notes__wrapper .note__display .note__date {
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 0.5em;
}
body main .notes__wrapper .note__display .note__title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1em;
}
body main .notes__wrapper .note__display .note__text {
  width: 95%;
  font-size: 12px;
  margin: 5px 35px 30px 10px;
}
body main .notes__wrapper .note__display .fa-trash-alt {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
body main .notes__wrapper .note__display .fa-trash-alt:hover {
  color: red;
}
body main .notes__wrapper .note__display .checkbox {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
body .input__form {
  margin: 0 auto;
  width: 50%;
  top: -150px;
  left: 50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(-50%, -50%);
  position: fixed;
  opacity: 0;
}
body .input__form.slideDown {
  top: 160px;
  opacity: 1;
}
body form {
  background-color: white;
  border: 1px solid;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  width: 600px;
}
body form #category {
  width: 70px;
}
body form .color__picker {
  position: relative;
  background-color: white;
  display: flex;
  width: 200px;
  height: 40px;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
