* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
body ::selection {
  color: black;
  background: yellow;
}
body .nav__slideBtn {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  top: 10px;
  right: 50px;
  width: 150px;
  height: 50px;
  align-items: center;
}
body .nav__slideBtn p {
  margin: 5px;
  text-transform: uppercase;
}
body .nav__slideBtn .svg-circle {
  transition: 0.4s all;
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
}
body .nav__slideBtn .svg-circle.active {
  transition: 0.4s all;
  transform: rotate(360deg);
}
body nav {
  user-select: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  display: flex;
  z-index: 1000;
}
body nav .nav__bar {
  margin: 0 auto;
  height: 50px;
  width: 85%;
  min-width: 430px;
  max-width: 580px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}
body nav .nav__btn {
  position: relative;
  margin: 0 10px;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  min-width: 65px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
}
body nav .nav__btn::before {
  position: absolute;
  bottom: 3px;
  left: -180%;
  content: "";
  border-bottom: 2px solid white;
  width: 80px;
  height: 4px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body nav .nav__btn:hover {
  letter-spacing: 2px;
}
body nav .nav__btn:hover:hover::before {
  transform: translate(-50%, 0);
  left: 50%;
}
body nav .nav__addBtn {
  width: 50px;
  color: black;
  font-size: 1.5rem;
}
body nav .active {
  letter-spacing: 2px;
  font-size: 24px;
  background-color: white;
  color: black;
  border-radius: 25px;
  border: solid black 1px;
  width: 155px;
  height: 45px;
  line-height: 45px;
}
body main {
  margin-top: 110px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body main.slideDown {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 460px;
}
body main .notes__wrapper {
  height: 100%;
  margin: 0 auto;
  width: 95%;
  min-width: 570px;
  max-width: 900px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
body main .notes__wrapper .note__display {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body main .notes__wrapper .note__display .welcome {
  text-align: center;
}
body main .notes__wrapper .note__display .note {
  margin: 5px 8px;
  padding: 5px 10px;
  max-width: 300px;
  min-width: 150px;
  max-height: 600px;
  min-height: 200px;
  list-style: none;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  transform-style: preserve-3d;
  position: relative;
  opacity: 0;
  transform: rotateY(0deg);
}
body main .notes__wrapper .note__display .activateIt {
  transform-style: preserve-3d;
  opacity: 1;
  transform: rotateY(360deg);
  transition: all 0.3s;
}
body main .notes__wrapper .note__display .activated {
  opacity: 1;
}
body main .notes__wrapper .note__display .note__date {
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 0.5em;
}
body main .notes__wrapper .note__display .note__title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1em;
}
body main .notes__wrapper .note__display .note__text {
  width: 95%;
  font-size: 12px;
  margin: 5px 35px 30px 10px;
}
body main .notes__wrapper .note__display .trash {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s;
  width: 15px;
  height: 15px;
}
body main .notes__wrapper .note__display .trash-svg {
  color: black;
  width: 15px;
  height: 15px;
}
body main .notes__wrapper .note__display .trash-svg:hover {
  color: red;
}
body main .notes__wrapper .note__display .checkbox {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
body .input__form {
  margin: 0 auto;
  width: 50%;
  top: 260px;
  left: -50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(-50%, -50%);
  position: fixed;
  opacity: 0;
}
body .input__form.slideDown {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 50%;
  opacity: 1;
}
body .input__form-form {
  padding: 15px;
}
body form {
  background-color: white;
  border: 1px solid;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  position: relative;
  flex-direction: column;
  width: 600px;
  height: 310px;
}
body form .form__btn {
  cursor: pointer;
  background-color: white;
  border: none;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
}
body form .form__btn svg {
  position: relative;
  height: 25px;
  width: 25px;
}
body form .category__color_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
body form .category__label {
  margin-right: -60px;
}
body form .color__picker_picker {
  line-height: 20px;
  padding: 1px;
  width: 25px;
  border: 1px solid black;
}
body form h6 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
body form .add__note_input {
  display: flex;
  flex-direction: column;
}
body form .add__note_input .add__note_title {
  margin: 5px 0;
  width: 40%;
  height: 30px;
}
body form .add__note_input .add__note_text {
  resize: none;
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}
body .modal {
  opacity: 1;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}
body .modal .modal__content {
  text-align: center;
  width: 350px;
  height: 150px;
}
body .modal .modal__content .modal__counter {
  display: flex;
  justify-content: space-around;
}
body .modal .modal__content .modal__counter_count {
  font-size: 24px;
}
body .modal .modal__content h1 {
  margin: 10px 0;
}
body .modal .modal__content p {
  margin: 15px 0;
}
body .modal .modal__content .cancelBtn {
  cursor: pointer;
  background-color: green;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 10px;
}
body .modal .modal__content .deleteBtn {
  cursor: pointer;
  border-radius: 10px;
  background-color: red;
  border: none;
  width: 90px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
